.obsidian/workspace
.obsidian/workspace.json
.obsidian/plugins/novel-word-count
.obsidian/plugins/remember-cursor-position/cursor-positions.json
Writing/Era of Gods Book 3/The Actual Book/.~lock.Book.odt#
Vault